.container {
  position: relative;
  margin-bottom: 1rem;
  margin-inline: auto;
  max-width: 95%;
  height: 128px;
  background-color: black;
  border-radius: 20px;
  border-bottom: 8px solid #f7df1e;
  overflow: hidden;
}

.logos {
  img {
    width: 110px;
  }
  .marquee {
    padding-top: 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    .track {
      white-space: nowrap;
      will-change: transform;
      animation: marquee 40s linear infinite;
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 480px) {
  .container {
    height: 65px;
    margin: 0;
    margin-inline: auto;
  }

  .logos {
    img {
      width: 50px;
    }
    .marquee {
      padding-top: 10px;
      border-radius: 20px;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      .track {
        white-space: nowrap;
        will-change: transform;
        animation: marquee 40s linear infinite;
        display: flex;
        justify-content: space-between;
        gap: 25px;
      }
    }
  }
}
