.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden
}

.flo img {
  color: black;
 
}

.linkedin img,
.github img {
  height: 40px;
  width: auto;
  padding: 0 10px;
  margin: 0 1rem;
  flex-shrink: 1; /* Allow the icons to shrink */

} 

/* .github img {
  height: 40px;
  width: auto;
  padding-left: 150px;
} */

.navLinks {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin-right: 4rem;
}

.navbar-nav li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

/* .navbar-nav {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
} */

.navbar-nav a:hover {
  color: #f7df1e;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }

  .linkedin img,
  .github img {
    height: 30px; /* Smaller icons for better fit */
    padding: 0 5px;
  }

  .navbar-nav li {
    padding: 0 10px; /* Reduce padding to fit within small screens */
  }

  .flo img {
    height: 30px; /* Adjust the logo size for smaller screens */
  }
}

@media (max-width: 480px) {
  .linkedin img,
  .github img {
    height: 25px; /* Further reduce icon size */
    padding: 0 3px;
    margin-left: .1rem;
    margin-right: 0;
  }

  .navLinks {
    flex-grow: 0;
  }

  .navbar-nav li {
    padding: 0 5px; /* Further reduce padding */
  }

  .navbar-nav {
    padding-left: 0;
    margin-right: 0;
  }

 
}
