.mainContainer {
  /* height: 100vh; */
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  margin-top: 1rem;
  /* box-sizing: border-box; */
  margin-bottom: 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.github {
  height: 40px;
}

.live {
  font-weight: bold;
}
.header a {
  color: black;
}
.header a:hover {
  color: #f7df1e;
}

.tech {
  font-weight: bold;
}
.project {
  width: 100%;
  max-width: 350px;
  max-height: 180px;
  border-radius: 10px;
  /* flex: 1; */
}

.cards {
  /* border-style: solid; */
  /* width: 66vh;  */
  /* height: 35rem; */
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* margin: 1rem; */
  /* justify-content: center; */
  align-items: center;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 1rem auto;
  box-sizing: border-box;
  /* flex: 1; */
}

.leftCard {
  border-right-style: solid;
  border-right-width: 8px;
  border-color: #f7df1e;
  border-left-style: solid;
  border-left-width: 8px;
  border-radius: 2rem;
  margin-right: 25rem;
}

.rightCard {
  border-left-style: solid;
  border-left-width: 8px;
  border-right-style: solid;
  border-right-width: 8px;
  border-color: black;
  border-radius: 2rem;
  margin-left: 25rem;
}

@media (max-width: 1024px) {
  .leftCard {
    margin-left: 15rem; /* Decrease offset as screen size decreases */
  }

  .rightCard {
    margin-right: 15rem; /* Decrease offset as screen size decreases */
  }
}

@media (max-width: 768px) {
  .leftCard {
    margin-right: 0;
    margin-left: 0;
  }

  .rightCard {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    margin-top: 1rem;
  }
  .leftCard {
    margin-right: 0;
    margin-left: 0;
  }

  .rightCard {
    margin-left: 0;
    margin-right: 0;
  }

  .cards {
    width: 90vw;
    height: 19rem;
    font-size: 0.8rem;
    border-width: 5px;
    padding: 0.2rem;
    box-sizing: border-box;
    margin: 0.5rem 0;
  }
  .project {
    max-width: 75%;
    max-height: 35%;
    margin-top: 0.8rem;
  }

  h2 {
    font-size: 1rem;
  }
}
