.rightContainer {
  
  width: 50%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.image1 {
  display: block;
  max-width: 95%;
  max-height: 90%;
  width: auto;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 50px;
}
