.rightContainer {
  width: 50%;
  /* max-width: 50%; */
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65vh;
  /* border-style: solid; */
  border-left: solid;
  border-color: #f7df1e;
  border-width: 8px;
  margin-top: 2rem;
  border-radius: 10%;
  
}

.sliderContainer {
  display: flex;
  align-items: center;  /* Center the buttons and image vertically */
  justify-content: center;  /* Center the content horizontally */
  position: relative;
  width: 100%;
  max-width: 800px;
}

.header {
  margin: 0;
}

.description {
display: flex;
flex-direction: column;
align-items: center;
}


.image {
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 25px;
  border-radius: 10px;
}

.prevButton, .nextButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}

.prevButton {
  margin-right: 10px;
  border-radius: 15%;
  padding: 12px;
}

.nextButton {
  margin-left: 10px;
  border-radius: 15%;
  padding: 12px 0px;
  padding-left: 20px;
  padding-right: 20px;
}
