.leftSection {
  width: 35%;
  /* max-width: 100%; */
  /* background-color: black; */
  color: black; /* Changes the color of the Font */
  padding-left: 50px; /* Adds padding on the left  */
  height: 65vh; /* Full viewport height */
  border-right: solid;
  border-color: black;
  border-width: 8px;
  margin-top: 2rem;
  border-radius: 10%;
}

.image {
  width: 25%; /* Changes the width to 50% of the original size */
  height: 25%; /* Changes the height to 50% of the original size */
  border-radius: 50%; /* Changes the border of the image to a perfect circle */
  object-fit: cover; /* Ensures the image covers the area without being stretched */
}
